---
layout: default
title: Tim's fitness journal.
description: This section of my website is about my journey into a more healthy lifestyle. 
keywords: fitness, gym, diet, running, cardio, health
classname: blog fitness
nav_url: /fitness-journal/
change_frequency: monthly
---

<h1>My fitness journal</h1>
<h2>This section is about my journey into a more healthy lifestyle.</h2>

<div class="list">
	{% for post in site.posts %}
		{% if post.kind == 'fitness' %}
			<section class="list-item blogpost">
				<header>
					<h1><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
				</header>
				<aside class="intro">
					<p><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time> &mdash; {{ post.description | replace: '.','' | truncatewords: 10}} <a href="{{ post.url }}" tabindex="-1">Read more &raquo;</a></p>
				</aside>
			</section>		
		{% endif %}
	{% endfor %}
</div>