---
layout: default
title: Hi, I'm Tim and I create websites.
description: I am a web-developer with a passion for fancy web-stuff and I'm in love with typography.
keywords: web-developer, CSS, Javascript, Progressive enhancement, adaptive design
classname: home-page
nav_url: /
change_frequency: daily
priority: 1.0
---

<header>
	<h1 id="contentLabel">Hi, I'm Tim and I create websites.</h1>
	<h2>I am a web-developer with a passion for fancy web-stuff and I'm in love with typography.</h2>
</header>

<nav role="navigation">
{% for p in site.navigation %}
	{% if p.text != 'home' %}
		<a  href="{{ p.url }}" title="{{ p.text }}">{{ p.text }}</a>
	{% endif %}
{% endfor %}
</nav>

<p>&diams;</p>