---
layout: default
title: A selection of my work
description: I am a web-developer with a passion for fancy web-stuff and I'm in love with typography.
keywords: web-developer, CSS, Javascript, Progressive enhancement, adaptive design
classname: work
---

<header>
	<h1>A selection of my work</h1>
</header>


<div class="list">
	{% for post in site.posts %}
		{% if post.kind != 'blog' %}
			<section class="list-item blogpost">
				<header>
					<h1>{{ post.title }}</h1>
				</header>
				<aside class="intro">
					<p>{{ post.date | date_to_string }} &mdash; {{ post.summary | replace: '.','' | truncatewords: 10}} <a href="{{ post.url }}"><em>Read more &raquo;</em></a></p>
				</aside>
			</section>		
		{% endif %}
	{% endfor %}
</div>