---
layout: default
title: A selection of my work
description: I am a web-developer with a passion for fancy web-stuff and I'm in love with typography.
keywords: web-developer, CSS, Javascript, Progressive enhancement, adaptive design
classname: work
nav_url: /work/
---

<header>
	<h1>A selection of my work</h1>
</header>


<div class="list">
	{% for post in site.posts %}
		{% if post.kind != 'blog' %}
			<section class="work-item">
				<a href="{{ post.url}}"><img src="{{ post.cover_image }}" /></a>
			</section>
		{% endif %}
	{% endfor %}
</div>