---
layout: default
title: A selection of my work
description: A selection of my work
keywords: web-developer, CSS, Javascript, Progressive enhancement, adaptive design
classname: work
nav_url: /work/
change_frequency: monthly
---

<header>
	<h1 id="contentLabel">A selection of my work</h1>
</header>

<div class="list">
	{% for post in site.posts %}
		{% if post.kind != 'blog' %}
			<section class="work-item">
				<a href="{{ post.url}}" title="{{ post.title }}"><img src="{{ post.cover_image }}" width="320" height="250" title="{{ post.title }}" alt="{{ post.description }}" /></a>
			</section>
		{% endif %}
	{% endfor %}
</div>