<!doctype html>
<!--[if IE 7 ]><html lang="en" class="ie7 ie no-js"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 ie no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<title>{{ page.title }}</title>
	
    <meta charset="utf-8" />

    <meta name="author" content="Tim Benniks" />	
	<meta name="description" content="{{ page.description }}" />
	<meta name="keywords" content="{{ page.keywords }}" />
	<meta name="google-site-verification" content="El5Wtr19CHQY1u_sQOjbuusrXqYCt6I6n3OJSyZEPAg" />

	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1,minimum-scale=1,maximum-scale=1" />

    <link rel="apple-touch-icon-precomposed" href="/static/gfx/favicon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/gfx/favicon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/gfx/favicon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/gfx/favicon.png" />
    <link rel="shortcut icon" href="/static/gfx/favicon.png" />
	<link rel="alternate" href="{{ site.baseurl }}feed.xml" title="Feed" type="application/atom+xml">	
	
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:image" content="/static/gfx/favicon.png" />
	<meta property="og:site_name" content="Tim Benniks" />
	<meta property="og:description" content="{{ page.description }}" />

	{% if site.url == site.live_url %}	
		<link href="/static/css/style.{% version %}.css" rel="stylesheet" />
	{% else %}
		<link href="/static/css/style.css" rel="stylesheet" />
	{% endif %}
	
	{% if site.url == site.live_url %}
		<script src="/static/js/modernizr.{% version %}.js"></script>
	{% else %}
		<script src="/static/js/modernizr.js"></script>
	{% endif %}

</head>
<body class="{{ page.classname }}">

{% include nav.html %}

<section class="content">