<nav role="navigation">
	<h1 role="banner"><a href="http://timbenniks.nl">TIM BENNIKS</a></h1>

	<a class="navigation-trigger" href="#nav" title="Click here to see the navigation">
		<img src="/static/gfx/nav_trigger.png" alt="Trigger navigation" width="24" height="21" />
	</a>

	<div id="nav" class="navigation-wrapper">
		{% for p in site.navigation %}
			<a {% if page.nav_url == p.url %}class="current"{% endif %} href="{{ p.url }}" title="{{ p.text }}">{{ p.text }}</a>
		{% endfor %}
	</div>	
</nav>