code {
	font-family: consolas, monaco, courier, "courier new", monospace;
	background: #F8F8F8; 
	font-size: 12px;
	border: 1px solid #ddd;
	padding: 1px 2px;
	color: #9C0001;
}

.highlight { 
	background: #F8F8F8; 
	border: 1px solid #ddd;
	font-size: 1.1em;
	margin: 0 auto 25px;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	
	pre {
		padding: 0 5px;
		margin: 5px 0;
	}
	
	pre, code {
		font-family: consolas, monaco, courier, "courier new", monospace;
		border: none;
		color: #333;
	}
	
	.hll 	{ background-color: #F8F8F8; border-bottom: 1px dotted #ddd; }
	.c 		{ color: #60a0b0; font-style: italic; } 
	.err 	{ border: 1px solid #FF0000; } 
	.k 		{ color: #9C0001; }
	.o 		{ color: #666666; } 
	.cm 	{ color: #60a0b0; font-style: italic; } 
	.cp 	{ color: #9C0001; } 
	.c1 	{ color: #60a0b0; font-style: italic; } 
	.cs 	{ color: #60a0b0; background-color: #fff0f0; } 
	.gd 	{ color: #A00000; } 
	.ge 	{ font-style: italic; } 
	.gr 	{ color: #FF0000; } 
	.gh 	{ color: #000080; } 
	.gi 	{ color: #00A000; } 
	.go 	{ color: #808080; } 
	.gp 	{ color: #c65d09; } 
	.gs 	{} 
	.gu 	{ color: #800080; } 
	.gt 	{ color: #0040D0; } 
	.kc 	{ color: #9C0001; } 
	.kd 	{ color: #9C0001; } 
	.kn 	{ color: #9C0001; } 
	.kp 	{ color: #9C0001; } 
	.kr 	{ color: #9C0001; } 
	.kt 	{ color: #902000; } 
	.m 		{ color: #40a070; } 
	.s 		{ color: #4070a0; } 
	.na 	{ color: #4070a0; } 
	.nb 	{ color: #9C0001; } 
	.nc 	{ color: #0e84b5; } 
	.no 	{ color: #60add5; } 
	.nd 	{ color: #555555; } 
	.ni 	{ color: #d55537; } 
	.ne 	{ color: #9C0001; } 
	.nf 	{ color: #06287e; } 
	.nl 	{ color: #002070; } 
	.nn 	{ color: #0e84b5; } 
	.nt 	{ color: #062873; } 
	.nv 	{ color: #bb60d5; } 
	.ow 	{ color: #9C0001; } 
	.w 		{ color: #bbbbbb; } 
	.mf 	{ color: #40a070; } 
	.mh 	{ color: #40a070; } 
	.mi 	{ color: #40a070; } 
	.mo 	{ color: #40a070; } 
	.sb 	{ color: #4070a0; } 
	.sc 	{ color: #4070a0; } 
	.sd 	{ color: #4070a0; font-style: italic; } 
	.s2 	{ color: #4070a0; } 
	.se 	{ color: #4070a0; } 
	.sh 	{ color: #4070a0; } 
	.si 	{ color: #70a0d0; font-style: italic; } 
	.sx 	{ color: #c65d09; } 
	.sr 	{ color: #235388; } 
	.s1 	{ color: #4070a0; } 
	.ss 	{ color: #517918; } 
	.bp 	{ color: #9C0001; } 
	.vc 	{ color: #bb60d5; } 
	.vg 	{ color: #bb60d5; } 
	.vi 	{ color: #bb60d5; } 
	.il 	{ color: #40a070; } 	 
}