---
layout: nill
---

.content .running-wrapper {
	width: 100%;
	margin: 0;

	figure[role="group"] {
		width: 100%;
		border-bottom: 1px dotted #ddd;

		figure {
			width: auto;
			float: none;

			.icon {
				display: block;
				width: 59px;
				height: 59px;
				background: url(../gfx/running_icons.png) no-repeat 0 0;
				margin: 0 auto 10px;
			}

			&.total-time .icon { background-position: 0px -116px; }
			&.average-pace .icon { background-position: 0px -58px; }
			&.total-distance .icon { background-position: 0px -175px; }

			figcaption {
				font-size: 17px;
				font-family: 'Bell MT', BellMT, Georgia, serif;
				text-align: center;
				font-style: italic;
				color: #333;
				line-height: 1.2;

				strong {
					display: block;
					font-family: arial;
					font-style: normal;
					color: #333;
					font-size: 20px;
				}

				span {
					font-variant: small-caps;
					font-size: 16px;
					padding: 0 0 0 2px;
				}
			}
		}

		&.records .records-column {
			
			figure {
				width: 100%;
				float: none;
				overflow: hidden;

				.icon {
					width: 30px;
					height: 46px;
				} 

				figcaption {
					text-align: center;
				}

				&.records-distance .icon { background-position: -76px -118px; }
				&.records-calories .icon { background-position: -76px 3px; }
				&.records-time .icon { background-position: -76px -172px; }
				&.records-speed .icon { background-position: -76px -58px; }
			}
		}
	}

	.misc {
		overflow: hidden;

		.misc-item {
			width: auto;
			text-align: center;
			margin: 0 0 50px 0;
			
			&:last-child {
				border: none;
			}

			p {
				margin: 0 auto;
				font-size: 14px;
				font-style: italic;
				max-width: 150px;
				line-height: 12px;
				font-family: 'Bell MT', BellMT, Georgia, serif;
			}

			h1 {
				color: #9C0001;
				line-height: 65px;
				font-size: 5em;
			}
		}
	}
}

@media only screen and (min-width: 768px)
{
	.content .running-wrapper {

		figure[role="group"] {

			figure {
				width: 25%;
				float: left;
			}

			&.records .records-column {
				float: left;
				margin: 0 0 20px 0;

				&:first-child {
					padding: 0 50px 0 0;
					width: 299px;
					border-right: 1px dotted #ddd;

					figure {

						.icon {
							float: right;
							margin: 0 0 0 10px;
						} 

						figcaption {
							float: right;
							text-align: right;
						}
					}
				}

				&:last-child {
					padding: 0 0 0 50px;
					width: 300px;

					figure {
	
						.icon {
							float: left;
							margin: 0 10px 0 0;
						}

						figcaption {
							float: left;
							text-align: left;
						}
					}
				}
			}
		}

		.misc .misc-item {
			width: 33%;
			float: left;
		}	
	}
}

.progress-pics .content {
	width: 300px;
	margin: 0 auto;

	.progress {
		overflow: hidden;

		img {
			width: 150px;
			height: 201px;
			float: left;
		}
	}
}

@media only screen and (min-width: 520px)
{
	.progress-pics .content {
		width: 520px;

		.progress img {
			width: 173px;
			height: 232px;
		}
	}
}

@media only screen and (min-width: 768px)
{
	.progress-pics .content {
		width: 740px;

		.progress img {
			width: 185px;
			height: 248px;
		}
	}
}