@font-face {
  font-family: 'BellMTItalic';
  src: local("Bell MT");
  src: url("../fonts/bellmtstd-italic.eot");
  src: url("../fonts/bellmtstd-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/bellmtstd-italic.woff") format("woff"), url("../fonts/bellmtstd-italic.ttf") format("truetype"), url("../fonts/bellmtstd-italic.svg#bellmtstd-italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'BellMT';
  src: local("Bell MT");
  src: url("../fonts/bellmtstd-regular.eot");
  src: url("../fonts/bellmtstd-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bellmtstd-regular.woff") format("woff"), url("../fonts/bellmtstd-regular.ttf") format("truetype"), url("../fonts/bellmtstd-regular.svg#bellmtstd-regular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #9C0001;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font: 62.5%/1.5 "Bell MT", BellMT, Georgia, serif;
  color: #333;
  background: url(../gfx/bg.jpg) repeat; }

a {
  color: #9C0001;
  text-decoration: underline; }
  a:hover {
    color: #830001; }

p {
  font-size: 1.6em;
  line-height: 25px;
  margin: 0 0 25px 0; }
  p.chapeau {
    margin: 0;
    line-height: 1;
    font-size: 1.4em;
    color: #666;
    text-align: center;
    margin: 0 0 5px 0; }

h1 {
  font-size: 3em;
  line-height: 1.1;
  font-family: 'Bell MT', BellMTItalic;
  font-style: italic; }

h2 {
  font-size: 2em;
  line-height: 1.5;
  color: #9C0001;
  font-family: 'Bell MT', BellMTItalic;
  font-style: italic; }

h3 {
  font-size: 1.6em;
  line-height: 1.5;
  color: #000;
  font-weight: bold; }

blockquote {
  color: #9C0001;
  font-size: 2.5em;
  font-family: 'Bell MT', BellMTItalic;
  font-style: italic;
  line-height: 1.2;
  margin: 0 0 25px 0; }

figure {
  margin: 0 0 15px 0; }
  figure img {
    max-width: 508px;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: .5em;
    background: #fff; }
  figure figcaption {
    margin: .5em 0 0 0;
    font-size: 1em;
    color: #777;
    font-family: arial, sans-serif; }

nav {
  width: 100%;
  border-bottom: 1px dotted #ddd;
  background: #f8f8f8;
  margin: 0 0 4em 0;
  text-align: center; }
  nav h1 {
    background: #9C0001;
    display: block;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    font-weight: normal;
    padding: 0 1em;
    line-height: 3;
    font-style: normal;
    font-family: 'Bell MT', BellMT; }
  nav a {
    display: inline-block;
    font-size: 1.2em;
    line-height: 3;
    letter-spacing: 0.1em;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    padding: 0 1em;
    text-decoration: none;
    margin: 0 -0.17em; }
    nav a:hover, nav a.current {
      background: #830001;
      color: #fff; }

.content {
  margin: 0 auto;
  padding: 0 2em;
  width: auto; }
  .content header {
    margin: 0 0 2em;
    border-bottom: 1px dotted #ddd;
    padding: 0 0 2em; }
  .content ul {
    margin: 0 0 25px 0;
    list-style: inside circle; }
    .content ul li {
      font-size: 1.6em; }
  .content nav {
    margin: 0 0 2em 0; }
  .content aside.intro p {
    margin: 0;
    font-size: 2em;
    color: #9C0001;
    line-height: 25px; }
  .content aside.metadata p {
    font-size: 1.4em; }
  .content aside.only-sidenote {
    margin: 0 0 25px 0; }
  .content .pager {
    margin: 0 0 50px 0;
    overflow: hidden; }
    .content .pager a {
      display: block;
      float: left; }
      .content .pager a:last-child {
        float: right; }

.list {
  background: #F8F8F8;
  border-top: 1px dotted #ddd;
  padding: 25px 0 0 0;
  margin: 50px 0 0 0; }
  .list .list-item {
    overflow: hidden;
    margin: 0 0 25px 0;
    padding: 0 25px 24px 25px;
    border-bottom: 1px dotted #ddd; }
    .list .list-item header {
      border: none;
      margin: 0;
      padding: 0; }
      .list .list-item header h1 {
        font-size: 2.5em;
        margin: 0 0 10px 0; }
    .list .list-item aside.intro p {
      font-size: 1.6em; }

.home-page .content h1, .home-page .content h2, .home-page .content article, .home-page .content nav, .home-page .content p {
  text-align: center; }
.home-page .content header {
  border: 0; }
.home-page .content nav {
  display: none; }

.work header {
  margin: 0 0 25px 0;
  padding: 0;
  border: none; }
  .work header h1 {
    text-align: center; }
.work .list {
  margin: 0; }
.work .list-item img {
  float: left;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px 25px 0 0; }

@media only screen and (min-width: 480px) {
  nav {
    text-align: left; }
    nav h1 {
      float: left; } }
@media only screen and (min-width: 768px) {
  .content {
    max-width: 740px; }
    .content aside {
      float: left;
      clear: left;
      width: 200px;
      padding: 0 20px 0 0; }
    .content article {
      margin: 0 0 0 220px; }

  .list .list-item {
    overflow: hidden; }
    .list .list-item header h1 {
      font-size: 3em; }
    .list .list-item aside {
      width: 100%; }
      .list .list-item aside p {
        font-size: 1.6em;
        line-height: 1; }

  .home-page .content header {
    margin: 25% 0 0 0; }
  .home-page .content nav {
    border-top: 1px dotted #ddd;
    display: block; }
  .home-page nav {
    display: none; }

  h1 {
    font-size: 5em; }

  figure {
    margin: 0 0 25px 0;
    overflow: hidden; }
    figure img {
      margin: 0; }

  blockquote {
    margin: 5px 0 25px -50px; } }
.ie7 nav, .ie8 nav {
  text-align: left; }
  .ie7 nav h1, .ie8 nav h1 {
    float: left;
    font-size: 1.2em; }
.ie7 .content, .ie8 .content {
  max-width: 740px; }
  .ie7 .content aside, .ie8 .content aside {
    float: left;
    clear: left;
    width: 200px;
    padding: 0 20px 0 0; }
  .ie7 .content article, .ie8 .content article {
    margin: 0 0 0 220px; }
.ie7 h1, .ie8 h1 {
  font-size: 5em; }
.ie7 figure, .ie8 figure {
  margin: 0 0 25px 0;
  overflow: hidden; }
  .ie7 figure img, .ie8 figure img {
    margin: 0; }
.ie7 blockquote, .ie8 blockquote {
  margin: 5px 0 25px -50px; }
