code {
  font-family: consolas, monaco, courier, "courier new", monospace;
  background: #F8F8F8;
  font-size: 12px;
  border: 1px solid #ddd;
  padding: 1px 2px;
  color: #9C0001; }

.highlight {
  background: #F8F8F8;
  border: 1px solid #ddd;
  font-size: 1.1em;
  margin: 0 auto 25px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: auto; }
  .highlight pre {
    padding: 0 5px;
    margin: 5px 0; }
  .highlight pre, .highlight code {
    font-family: consolas, monaco, courier, "courier new", monospace;
    border: none;
    color: #333; }
  .highlight .hll {
    background-color: #F8F8F8;
    border-bottom: 1px dotted #ddd; }
  .highlight .c {
    color: #60a0b0;
    font-style: italic; }
  .highlight .err {
    border: 1px solid #FF0000; }
  .highlight .k {
    color: #9C0001; }
  .highlight .o {
    color: #666666; }
  .highlight .cm {
    color: #60a0b0;
    font-style: italic; }
  .highlight .cp {
    color: #9C0001; }
  .highlight .c1 {
    color: #60a0b0;
    font-style: italic; }
  .highlight .cs {
    color: #60a0b0;
    background-color: #fff0f0; }
  .highlight .gd {
    color: #A00000; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #FF0000; }
  .highlight .gh {
    color: #000080; }
  .highlight .gi {
    color: #00A000; }
  .highlight .go {
    color: #808080; }
  .highlight .gp {
    color: #c65d09; }
  .highlight .gu {
    color: #800080; }
  .highlight .gt {
    color: #0040D0; }
  .highlight .kc {
    color: #9C0001; }
  .highlight .kd {
    color: #9C0001; }
  .highlight .kn {
    color: #9C0001; }
  .highlight .kp {
    color: #9C0001; }
  .highlight .kr {
    color: #9C0001; }
  .highlight .kt {
    color: #902000; }
  .highlight .m {
    color: #40a070; }
  .highlight .s {
    color: #4070a0; }
  .highlight .na {
    color: #4070a0; }
  .highlight .nb {
    color: #9C0001; }
  .highlight .nc {
    color: #0e84b5; }
  .highlight .no {
    color: #60add5; }
  .highlight .nd {
    color: #555555; }
  .highlight .ni {
    color: #d55537; }
  .highlight .ne {
    color: #9C0001; }
  .highlight .nf {
    color: #06287e; }
  .highlight .nl {
    color: #002070; }
  .highlight .nn {
    color: #0e84b5; }
  .highlight .nt {
    color: #062873; }
  .highlight .nv {
    color: #bb60d5; }
  .highlight .ow {
    color: #9C0001; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mf {
    color: #40a070; }
  .highlight .mh {
    color: #40a070; }
  .highlight .mi {
    color: #40a070; }
  .highlight .mo {
    color: #40a070; }
  .highlight .sb {
    color: #4070a0; }
  .highlight .sc {
    color: #4070a0; }
  .highlight .sd {
    color: #4070a0;
    font-style: italic; }
  .highlight .s2 {
    color: #4070a0; }
  .highlight .se {
    color: #4070a0; }
  .highlight .sh {
    color: #4070a0; }
  .highlight .si {
    color: #70a0d0;
    font-style: italic; }
  .highlight .sx {
    color: #c65d09; }
  .highlight .sr {
    color: #235388; }
  .highlight .s1 {
    color: #4070a0; }
  .highlight .ss {
    color: #517918; }
  .highlight .bp {
    color: #9C0001; }
  .highlight .vc {
    color: #bb60d5; }
  .highlight .vg {
    color: #bb60d5; }
  .highlight .vi {
    color: #bb60d5; }
  .highlight .il {
    color: #40a070; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

body, button, input, select, textarea {
  font-family: sans-serif; }

a, a:hover, a:active, a:focus {
  outline: 0; }

h1, h2, h3, h4 {
  font-size: 1em;
  font-weight: normal;
  padding: 0;
  margin: 0; }

b, strong {
  font-weight: bold; }

ul, ol, p {
  margin: 0;
  padding: 0; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: nearest-neighbor;
  display: block; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'BellMTItalic';
  src: local("Bell MT");
  src: url("../fonts/bellmtstd-italic.eot");
  src: url("../fonts/bellmtstd-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/bellmtstd-italic.woff") format("woff"), url("../fonts/bellmtstd-italic.ttf") format("truetype"), url("../fonts/bellmtstd-italic.svg#bellmtstd-italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'BellMT';
  src: local("Bell MT");
  src: url("../fonts/bellmtstd-regular.eot");
  src: url("../fonts/bellmtstd-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bellmtstd-regular.woff") format("woff"), url("../fonts/bellmtstd-regular.ttf") format("truetype"), url("../fonts/bellmtstd-regular.svg#bellmtstd-regular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  -webkit-tap-highlight-color: #9C0001;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font: 62.5%/1.5 "Bell MT", BellMT, Georgia, serif;
  color: #333;
  background: url(../gfx/bg.jpg) repeat; }

a {
  color: #9C0001;
  text-decoration: underline; }
  a:hover {
    color: #830001; }
  a:focus {
    outline: 1px dotted #9C0001; }

p {
  font-size: 1.6em;
  line-height: 25px;
  margin: 0 0 25px 0; }
  p.chapeau {
    margin: 0;
    line-height: 1;
    font-size: 1.4em;
    color: #666;
    text-align: center;
    margin: 0 0 5px 0; }

h1 {
  font-size: 3em;
  line-height: 1.1;
  font-family: 'Bell MT', BellMTItalic;
  font-style: italic; }
  h1.center {
    text-align: center; }

h2 {
  font-size: 2em;
  line-height: 1.5;
  color: #9C0001;
  font-family: 'Bell MT', BellMTItalic;
  font-style: italic; }

h3 {
  font-size: 1.6em;
  line-height: 1.5;
  color: #000;
  font-weight: bold; }

blockquote {
  font-size: 1.6em;
  font-family: 'Bell MT', BellMTItalic;
  font-style: italic;
  margin: 0px 0 25px 0px;
  border-left: 5px solid #CCC;
  padding: 0 0 0 8px; }
  blockquote p {
    font-size: 1em; }

figure {
  margin: 0 0 15px 0; }
  figure img {
    max-width: 508px;
    width: 97%;
    height: auto;
    border: 1px solid #ddd;
    padding: .5em;
    background: #fff; }
  figure figcaption {
    margin: .5em 0 0 0;
    font-size: 1em;
    color: #777;
    font-family: arial, sans-serif; }

nav {
  width: 100%;
  border-bottom: 1px dotted #ddd;
  background: #f8f8f8;
  margin: 0 0 4em 0;
  text-align: center;
  overflow: hidden; }
  nav h1 {
    background: #9C0001;
    display: block;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #fff;
    font-weight: normal;
    padding: 0 1em;
    line-height: 3;
    font-style: normal;
    font-family: 'Bell MT', BellMT;
    height: 36px; }
    nav h1 a {
      background: none;
      color: #fff;
      letter-spacing: 0.1em;
      padding: 0;
      margin: 0;
      line-height: 36px;
      float: left;
      font-size: 12px;
      text-align: left; }
      nav h1 a:hover {
        background: none; }
  nav .navigation-wrapper {
    display: none; }
  nav a {
    display: block;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    padding: 0 1em;
    text-decoration: none;
    margin: 0 -0.17em; }
    nav a:hover, nav a.current {
      background: #9C0001;
      color: #fff; }
    nav a:focus {
      outline: 0;
      background: #690001;
      color: #fff; }
  nav a.navigation-trigger {
    position: absolute;
    right: 0;
    top: 7px; }
    nav a.navigation-trigger:hover {
      background: none; }

.content {
  margin: 0 auto;
  padding: 0 2em;
  width: auto; }
  .content header {
    margin: 0 0 2em;
    border-bottom: 1px dotted #ddd;
    padding: 0 0 2em; }
    .content header img {
      margin: 0 auto;
      width: auto;
      height: 37px; }
  .content ul {
    margin: 0 0 25px 17px;
    list-style: outside circle; }
    .content ul li {
      font-size: 1.6em; }
      .content ul li ul {
        margin: 0 0 0 17px; }
      .content ul li p, .content ul li li {
        font-size: 1em;
        margin: 0; }
  .content nav {
    margin: 0 0 2em 0; }
  .content aside.readability {
    margin: 0 0 15px 0; }
  .content aside.intro p {
    margin: 0;
    font-size: 2em;
    color: #9C0001;
    line-height: 25px; }
    .content aside.intro p a {
      font-style: italic; }
  .content aside.metadata {
    margin: 0 0 25px 0; }
    .content aside.metadata p {
      font-size: 1.4em;
      margin: 0; }
    .content aside.metadata a {
      color: #333; }
  .content aside.only-sidenote {
    margin: 0 0 25px 0; }
  .content .pager {
    margin: 0 0 50px 0;
    overflow: hidden; }
    .content .pager a {
      display: block; }
      .content .pager a.previous {
        float: left; }
      .content .pager a.next {
        float: right; }

.list {
  background: #F8F8F8;
  border-top: 1px dotted #ddd;
  padding: 25px 0 0 0;
  margin: 50px 0 0 0; }
  .list .list-item {
    overflow: hidden;
    margin: 0 0 25px 0;
    padding: 0 25px 24px 25px;
    border-bottom: 1px dotted #ddd; }
    .list .list-item header {
      border: none;
      margin: 0;
      padding: 0; }
      .list .list-item header h1 {
        font-size: 2.5em;
        margin: 0 0 10px 0; }
        .list .list-item header h1 a {
          color: #333;
          text-decoration: none; }
          .list .list-item header h1 a:hover {
            color: #111; }
    .list .list-item aside.intro p {
      font-size: 1.6em; }

.home-page .content h1, .home-page .content h2, .home-page .content article, .home-page .content nav, .home-page .content p {
  text-align: center; }
.home-page .content header {
  border: 0; }
.home-page .content nav {
  display: none; }

.work header {
  margin: 0 0 25px 0;
  padding: 0;
  border: none; }
  .work header h1 {
    text-align: center; }
.work .list {
  margin: 0;
  border: none;
  padding: 0;
  background: none; }
  .work .list .work-item {
    display: block;
    width: 270px;
    margin: 0 auto 10px; }
    .work .list .work-item img {
      width: 100%;
      height: auto;
      border: 1px solid #ddd;
      padding: 5px;
      background: #fff;
      display: block; }

.fitness h1, .fitness h2 {
  text-align: center; }
.fitness img {
  margin: 0 auto; }
.fitness .list h1, .fitness .list p {
  text-align: center; }

.no-js .navigation-wrapper {
  display: block; }

.no-js a.navigation-trigger {
  display: none; }

@media only screen and (min-width: 550px) {
  nav {
    text-align: left; }
    nav h1 {
      float: left; }
    nav .navigation-wrapper {
      display: block; }
    nav a.navigation-trigger {
      display: none; }
    nav a {
      display: inline-block; } }
@media only screen and (min-width: 768px) {
  .content {
    max-width: 740px; }
    .content aside {
      float: left;
      clear: left;
      width: 200px;
      padding: 0 20px 0 0; }
    .content article {
      margin: 0 0 0 220px; }

  .list .list-item {
    overflow: hidden; }
    .list .list-item header h1 {
      font-size: 3em; }
    .list .list-item aside {
      width: 100%; }
      .list .list-item aside p {
        font-size: 1.6em;
        line-height: 1; }

  .home-page .content header {
    margin: 25% 0 0 0; }
  .home-page .content nav {
    border-top: 1px dotted #ddd;
    display: block; }
  .home-page nav {
    display: none; }

  h1 {
    font-size: 5em; }

  figure {
    margin: 0 0 25px 0;
    overflow: hidden; }
    figure img {
      margin: 0; }

  .work header {
    margin: 0 0 25px 0;
    padding: 0;
    border: none; }
    .work header h1 {
      text-align: center; }
  .work aside {
    display: block;
    width: 100%;
    float: none; }
    .work aside p {
      text-align: center; }
    .work aside.intro {
      margin: 0 0 25px 0; }
    .work aside.visit nav {
      text-align: center; }
  .work article {
    float: none;
    margin: 0; }
    .work article figure img {
      max-width: 727px;
      width: 100%;
      height: auto; }
  .work .list {
    background: #F8F8F8;
    border-top: 1px dotted #ddd;
    padding: 25px 0 0 0;
    margin: 50px 0 0 0;
    text-align: center; }
    .work .list .work-item {
      display: inline-block;
      width: 320px;
      margin: 0 20px 10px 0; }
      .work .list .work-item a {
        display: block;
        overflow: hidden;
        width: 332px; }
      .work .list .work-item img {
        width: auto;
        height: auto;
        border: 1px solid #ddd;
        padding: 5px;
        background: #fff;
        display: block; }

  .highlight {
    width: 100%; } }
.ie7 nav, .ie8 nav {
  text-align: left; }
  .ie7 nav h1, .ie8 nav h1 {
    float: left;
    font-size: 1.2em; }
.ie7 .content, .ie8 .content {
  max-width: 740px; }
  .ie7 .content aside, .ie8 .content aside {
    float: left;
    clear: left;
    width: 200px;
    padding: 0 20px 0 0; }
  .ie7 .content article, .ie8 .content article {
    margin: 0 0 0 220px; }
.ie7 h1, .ie8 h1 {
  font-size: 5em; }
.ie7 figure, .ie8 figure {
  margin: 0 0 25px 0;
  overflow: hidden; }
  .ie7 figure img, .ie8 figure img {
    margin: 0; }

@media print {
  nav,
  #disqus_thread,
  .readability {
    display: none; } }
