---
layout: nill
---

@import "_highlighting";
@import "_normalize";

html {
  	-webkit-tap-highlight-color: #9C0001;
  	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
}

body {
	font: 62.5%/1.5 Georgia, serif;
	color: #333;
	background: url(../gfx/bg.jpg) repeat;
}

a {
	color: #9C0001;
	text-decoration: underline;

	&:hover	{
		color: darken(#9C0001, 5%);
	}

	&:focus {
		outline: 1px dotted #9C0001;
	}
}

p {
	font-size: 1.4em;
	line-height: 25px;
	margin: 0 0 25px 0;

	&.chapeau {
		margin: 0;
		line-height: 1;
		font-size: 1.4em;
		color: #666;
		text-align: center;
		margin: 0 0 5px 0;
	}
}

h1 {
	font-size: 3em;
	line-height: 1.1;
	font-style: normal;

	&.center {
		text-align: center;
	}
}

h2 {
	font-size: 2em;
	line-height: 1.5;
	color: #9C0001;
	font-style: italic;
}

h3 {
	font-size: 1.6em;
	line-height: 1.5;
	color: #000;
	font-weight: bold;
}

blockquote {
	font-size: 1.6em;
	font-style: italic;
	margin: 0px 0 25px 0px;
	border-left: 5px solid #CCC;
	padding: 0 0 0 8px;

    p {
    	font-size: 1em;
    }
}

figure {
	margin: 0 0 15px 0;

	img {
		max-width: 508px;
		width: 97%;
		height: auto;
		border: 1px solid #ddd;
		padding: .5em;
		background: #fff;
	}

	figcaption {
		margin: .5em 0 0 0;
		font-size: 1em;
		color: #777;
	}
}

nav {
	width: 100%;
	border-bottom: 1px dotted #ddd;
	background: #f8f8f8;
	text-align: center;
	overflow: hidden;
	position: fixed;
	box-shadow: 0 0 18px 2px #F3F3F3;

	h1 {
		background: #9C0001;
		display: block;
		font-size: 11px;
		letter-spacing: 0.1em;
		text-align: left;
		color: #fff;
		font-weight: normal;
		padding: 0 1em;
		line-height: 3;
		font-style: normal;
		height: 36px;

		a {
			background: none;
			color: #fff;
			letter-spacing: 0.1em;
			padding: 0;
			margin: 0;
			line-height: 36px;
			float: left;
			font-size: 11px;
			text-align: left;

			&:hover {
				background: none;
			}
		}
	}

	.navigation-wrapper {
		display: none;
		position: static;
	}

   	a {
		display: block;
		font-size: 11px;
		line-height: 36px;
	    letter-spacing: 0.1em;
		text-align: center;
		color: #333;
		text-transform: uppercase;
		padding: 0 1em;
		text-decoration: none;
		margin: 0 -0.17em;

		&:hover,
		&.current {
			background: #9C0001;
			color: #fff;
		}

		&:focus {
			outline: 0;
			background: darken(#9C0001, 10%);
			color: #fff;
		}
	}

	a.navigation-trigger {
		position: absolute;
		right: 0;
		top: 7px;

		&:hover {
			background: none;
		}
	}
}

.content {
	margin: auto;
	padding: 8em 2em 0;
	width: auto;

	header {
		margin: 0 0 2em;
		border-bottom: 1px dotted #ddd;
		padding: 0 0 2em;

		img {
			margin: 0 auto;
			width: auto;
			height: 37px;
		}
	}

	ul {
		margin: 0 0 25px 17px;
		list-style: outside circle;

		li {
			font-size: 1.6em;

			ul {
				margin: 0 0 0 17px;
			}

			p, li {
				font-size: 1em;
				margin: 0;
			}
		}
	}

	nav {
		margin: 0 0 2em 0;
	}

	aside {
		&.readability {
			margin: 0 0 15px 0;
		}

		&.intro p {
			margin: 0;
			font-size: 1.6em;
			color: #9C0001;
			line-height: 25px;

			a {
				font-style: italic;
			}
		}

		&.metadata {
			margin: 0 0 25px 0;

			p {
				font-size: 1.4em;
				margin: 0;
			}

			a {
				color: #333;
			}
		}

		&.only-sidenote {
			margin: 0 0 25px 0;
		}
	}

	.pager {
		margin: 0 0 50px 0;
		overflow: hidden;

		a {
			display: block;

			&.previous {
				float: left;
			}

			&.next {
				float: right;
			}
		}
	}
}

.list {
	background: #F8F8F8;
	border-top: 1px dotted #ddd;
	padding: 25px 0 0 0;
	margin: 50px 0 0 0;

	.list-item {
		overflow: hidden;
		margin: 0 0 25px 0;
		padding: 0 25px 24px 25px;
		border-bottom: 1px dotted #ddd;

		header {
			border: none;
			margin: 0;
			padding: 0;

			h1 {
				font-size: 2.5em;
				margin: 0 0 10px 0;

				a {
					color: #333;
					text-decoration: none;

					&:hover {
						color: #111;
					}
				}
			}
		}

		aside.intro p {
			font-size: 1.6em;
		}
	}
}

.home-page {

	.content {
		h1, h2, article, nav, p {
			text-align: center;
		}

		header {
			border: 0;
		}

		nav {
			display: none;
		}
	}
}

.work {
	header {
		margin: 0 0 25px 0;
		padding: 0;
		border: none;

		h1 {
			text-align: center;
		}
	}

	.work-cta {
		position: static;
		box-shadow: none;
	}

	.list {
		margin: 0;
		border: none;
		padding: 0;
		background: none;

		.work-item {
			display: block;
			width: 270px;
			margin: 0 auto 10px;

			img {
				width: 100%;
				height: auto;
				border: 1px solid #ddd;
				padding: 5px;
				background: #fff;
				display: block;
			}
		}
	}
}

.fitness {
	h1, h2 {
		text-align: center;
	}

	img {
		margin: 0 auto;
	}

	.list {
		h1, p {
			text-align: center;
		}
	}
}

.no-js .navigation-wrapper {
	display: block;
}

.no-js a.navigation-trigger {
	display: none;
}

table {
    font-size: 12px;
    margin: 0 0 20px 0;
    border: 1px solid #ddd;
    font-family: arial, sans-serif;
    width: 100%;
}

table th {
    text-align: left;
    padding: 3px 8px;
}

table td {
    text-align: right;
    padding: 3px 8px;
}

table td.meal,
table td.time {
    text-align: left;
}

table thead th {
    border-bottom: 1px solid #ddd;
}

table .totals th {
    text-align: left;
}

table .totals th,
table .totals td {
    border-top: 1px solid #ddd;
    font-weight: bold;
}

table tr:nth-child(even) {
    background: #f8f8f8;
}

table tr:nth-child(odd) {
    background: #fff;
}

@media only screen and (min-width: 550px)
{
	nav {
		text-align: left;

		h1 {
			float: left;
		}

		.navigation-wrapper {
			display: block;
		}

		a.navigation-trigger {
			display: none;
		}

		a {
			display: inline-block;
		}
	}
}

@media only screen and (min-width: 768px)
{
	nav {

		.navigation-wrapper {
			display: block;
			max-width: 740px;
			width: auto;
			margin: 0 auto;
		}
	}

	.content {
		max-width: 740px;

		aside {
			float: left;
			clear: left;
			width: 200px;
			padding: 0 20px 0 0;
		}

		article {
			margin: 0 0 0 220px;
		}
	}

	.list {
		.list-item {
			overflow: hidden;

			header {
				h1 {
					font-size: 3em;
				}
			}


			aside {
				width: 100%;

				p {
					font-size: 1.6em;
					line-height: 1;
				}
			}
		}
	}

	.home-page {

		.content {

			header {
				margin: 25% 0 0 0;
			}

			nav {
				border-top: 1px dotted #ddd;
				display: block;
				position: static;
				box-shadow: none;
			}
		}

		nav {
			display: none;
		}
	}

	h1 {
		font-size: 4em;
	}

	figure {
	    margin: 0 0 25px 0;
	    overflow: hidden;

	    img {
	    	margin: 0;
	    }
	}

	.work {
		header {
			margin: 0 0 25px 0;
			padding: 0;
			border: none;

			h1 {
				text-align: center;
			}
		}

		aside {
			display: block;
			width: 100%;
			float: none;

			p {
				text-align: center;
			}

			&.intro {
				margin: 0 0 25px 0;
			}

			&.visit nav {
				text-align: center;
			}
		}

		article {
			float: none;
			margin: 0;

			figure img {
				max-width: 727px;
				width: 100%;
				height: auto;
			}
		}

		.list {
			background: #F8F8F8;
			border-top: 1px dotted #ddd;
			padding: 25px 0 0 0;
			margin: 50px 0 0 0;
			text-align: center;

			.work-item {
				display: inline-block;
				width: 320px;
				margin: 0 20px 10px 0;

				a {
					display: block;
					overflow: hidden;
					width: 332px;
				}

				img {
					width: auto;
					height: auto;
					border: 1px solid #ddd;
					padding: 5px;
					background: #fff;
					display: block;
				}
			}
		}
	}

	.highlight {
		width: 100%;
	}
}

.ie7, .ie8 {
	nav {
		text-align: left;

		h1 {
			float: left;
			font-size: 1.2em;
		}
	}

	.content {
		max-width: 740px;

		aside {
			float: left;
			clear: left;
			width: 200px;
			padding: 0 20px 0 0;
		}

		article {
			margin: 0 0 0 220px;
		}
	}

	h1 {
		font-size: 4em;
	}

	figure {
	    margin: 0 0 25px 0;
	    overflow: hidden;

	    img {
	    	margin: 0;
	    }
	}
}

@media print
{
	nav,
	#disqus_thread,
	.readability {
		display: none;
	}
}