{% include header.html %}

<header>
	<h1>{{ page.title }}</h1>
	
	{% if page.sub_title != null %}
		<h2>{{ page.sub_title }}
	{% endif %}
</header>

{% if page.description != null %}
<aside class="intro">
	<p>{{ page.description }}</p>
</aside>
{% endif %}

{% if page.metadata != null %}
	<aside class="metadata">
		{% for meta in page.metadata %}
			<p class="author vcard">{{ meta.role }} <em class="fn">{% if meta.url != null %}<a href="{{ meta.url }}">{{ meta.name }}</a> {% else %} {{ meta.name }} {% endif %}</em></p>
		{% endfor %}
	</aside>
{% endif %}

{% if page.kind == 'blog' %}
	<aside class="rdbWrapper readability" data-show-read="1" data-show-send-to-kindle="0" data-show-print="0" data-show-email="0" data-orientation="0" data-version="1" data-bg-color="transparent"></aside>
{% endif %}

{% if.page.work_url != null %}
	<aside class="visit">
		<nav><a href="{{ page.work_url }}" target="_blank">visit project</a></nav>
	</aside>
{% endif %}

<article>
	{{ content }}
</article>

{% include pager.html %}

{% include footer.html %}