{% include header.html %}

{% if site.url == site.live_url %}	
		<link href="/static/css/running.{% version %}.css" rel="stylesheet" />
	{% else %}
		<link href="/static/css/running.css" rel="stylesheet" />
	{% endif %}
<header>
	{% if page.kind == "fitness" %}
		<a href="/fitness-journal" title="Go back to the Fitness Journal"><img src="/static/gfx/fk.png" height="37" alt="Fitness Journal" /></a>
	{% endif %}	

	<h1 id="contentLabel" {% if page.kind == "fitness" %}class="center"{% endif %}>{{ page.title }}</h1>
	
	{% if page.sub_title != null %}
		<h2>{{ page.sub_title }}</h2>
	{% endif %}
</header>

<article class="running-wrapper">
	{{ content }}
</article>

{% include comments.html %}

{% include footer.html %}